<h1 mat-dialog-title>Search Direction</h1>
<div mat-dialog-content>
<!-- Origin form -->
    <div>
        <!-- <button class="drawer" >
            <mat-icon matSuffix > trip_origin</mat-icon>
        </button> -->
        <form [formGroup]="originform" class="search-box" >
            <mat-form-field class="search-input" appearance="none" >
                <mat-icon style= "vertical-align: bottom;" matPrefix > trip_origin</mat-icon>
                <input  matInput placeholder="Set Origin" formControlName="origin" (input) = "onOriginSearch($event.target.value)" required [matAutocomplete]="origin">
                <mat-icon matSuffix  >gps_fixed</mat-icon>
                <mat-autocomplete #origin="matAutocomplete" [displayWith]="getOptionText">
                <mat-option *ngFor="let option of OriginOptions" (onSelectionChange)="onOriginSelected($event.source.value)" [value]="option" >
                    {{option.address}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <!-- <button class="searchIcon">
            <mat-icon matSuffix style="color: gray;">search</mat-icon>
        </button>
        <button class="directionIcon" >
            <mat-icon matSuffix  >gps_fixed</mat-icon>
        </button> -->
    </div>
    <br>

<!-- Destinatin form -->
    <div id="customsearch" class="dir-div">
        <button class="drawer" >
        <mat-icon matSuffix > pin_drop</mat-icon>
        </button>
        <form [formGroup]="destinationform" class="search-box">
        <mat-form-field class="search-input" appearance="none" >
            <input  #destinput matInput placeholder="Set destination" formControlName="destination" (input) = "onDestinationSearch($event.target.value)" required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                <mat-option *ngFor="let option of DestinationOptions" (onSelectionChange)="onDestinationSelected($event.source.value)" [value]="option" >
                {{option.address}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        </form>
        <button class="searchIcon">
        <mat-icon matSuffix style="color: gray;">search</mat-icon>
        </button>
    </div>
    <br>
    <!-- get dir button -->
    <div>
        <button mat-raised-button color="primary" style= "width: 100%;" (click) = "getDirections()">Get Directions</button>
    </div>
    <!-- end dir button  -->
</div>
