<div>
  <mat-drawer-container class="drawer-container" [hasBackdrop]="false" >
      <mat-drawer #drawer  class="drawer-content" (openedChange)="onDrawerEvent($event)">
        <div class = "search-result">
        
            <div style = "width: 100%; display: flex; flex-direction: row; justify-content: flex-end; margin-bottom: 7px;">
              <mat-icon (click)="openDrawer()" style="vertical-align: right;">close</mat-icon>
            </div>
          <!-- double form directions -->
          <div *ngIf = "dirDouble">
            <!-- Origin form -->
            <div  class="dir-div">
                <button class="drawer" >
                  <mat-icon matSuffix > trip_origin</mat-icon>
                </button>
                <form [formGroup]="originform" class="search-box">
                  <mat-form-field class="search-input" appearance="none" >
                    <input  matInput placeholder="Set Origin" formControlName="origin" (input) = "onOriginSearch($event.target.value)" required [matAutocomplete]="origin">
                      <mat-autocomplete #origin="matAutocomplete" [displayWith]="getOptionText">
                        <mat-option *ngFor="let option of OriginOptions" (onSelectionChange)="onOriginSelected($event.source.value)" [value]="option" >
                          {{option.address}}
                        </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
                </form>
                <button class="searchIcon">
                  <mat-icon matSuffix style="color: gray;">search</mat-icon>
                </button>
                <button class="directionIcon" >
                  <mat-icon matSuffix  >gps_fixed</mat-icon>
                </button>
            </div>
            <br>

            <!-- Destinatin form -->
            <div id="customsearch" class="dir-div">
              <button class="drawer" >
                <mat-icon matSuffix > pin_drop</mat-icon>
              </button>
              <form [formGroup]="destinationform" class="search-box">
                <mat-form-field class="search-input" appearance="none" >
                  <input  #destinput matInput placeholder="Set destination" formControlName="destination" (input) = "onDestinationSearch($event.target.value)" required [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                      <mat-option *ngFor="let option of DestinationOptions" (onSelectionChange)="onDestinationSelected($event.source.value)" [value]="option" >
                        {{option.address}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
              </form>
              <button class="searchIcon">
                <mat-icon matSuffix style="color: gray;">search</mat-icon>
              </button>
            </div>
            <br>
            <!-- get dir button -->
            <!-- <div>
              <button mat-raised-button color="primary" style= "width: 100%;" (click) = "getDirections()">Get Directions</button>
            </div> -->
            <!-- end dir button  -->
          </div>
          <!-- End double form directions -->


          <!-- Poi details  -->
          <mat-card *ngIf = "poiName">
              <mat-card-header>
                <mat-card-title>{{poiName}}</mat-card-title>
                <mat-card-subtitle>Street: {{streetName}}</mat-card-subtitle>
                <!-- TODO Image of the building should be here -->
              </mat-card-header>
                  <mat-chip-list>
                      <mat-chip color = "primary" selected = "true" (click)="poiDirection()">Directions</mat-chip>
                      <mat-chip color = "primary" selected = "true" (click)="poiShare()">Share</mat-chip>
                  </mat-chip-list>
          </mat-card>
          <!-- end poi details -->


          <!-- Iternary should come here -->
          <br>
          <mat-card *ngIf = "routeLength">
              <mat-card-header>
                <mat-card-title> Total Distance {{routeLength}} meters</mat-card-title>
                <mat-card-subtitle>Estimated Time: {{routeTime}} mins without traffic</mat-card-subtitle>
              </mat-card-header>
          </mat-card>

          <!-- Navigate button -->

          <div *ngIf = "enableNav">
            <button mat-raised-button color="primary" style= "width: 100%;" (click) = "startNavigation()">Start Navigation</button>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content >
        <div class="map-container">
            <div id="map" [style.display]="show2d ? 'block' : 'none'">
              <div class="leaflet-bottom leaflet-right">
                  <button style="
                  width: 52px;
                  border-radius: 23px;
                  height: 52px;
                  background: #ffffffa3;
                  margin-bottom: 20px;
                  border: none;" value="Cancel" class=" span3 leaflet-control"  (click)="getMyLocation()" (dblclick)="zoomToLocation()">
                    <mat-icon style="color: blue;">location_searching</mat-icon>
                  </button>
              </div>
            </div>

            <div id="osmb" [style.display]="show3d ? 'block' : 'none'"></div>
        </div>
      </mat-drawer-content>
  </mat-drawer-container>

  <!-- Poi search bar -->
  <div id="customsearch" class="search-div" *ngIf="this.drawer.opened == false" >
    <button class="drawer" >
      <mat-icon matSuffix (click)="openDrawer();" >toc</mat-icon>
    </button>
      <form [formGroup]="searchform" class="search-box">
        <mat-form-field class="search-input" appearance="none" >
          <input  matInput placeholder="Search DrukMap" (input) = "onSearchChange($event.target.value)" required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
              <mat-option *ngFor="let option of options" (onSelectionChange)="onSearchSelected($event.source.value)" [value]="option" >
                {{option.address}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </form>
      <button class="searchIcon">
        <mat-icon matSuffix  style="color: gray;">search</mat-icon>
      </button>
      <button class="directionIcon" >
        <mat-icon matSuffix (click)="openDialog(null);" >directions</mat-icon>
      </button>
  </div>  
  <!-- end poi search -->
  <!-- <div class = "toggle-div">
    <label class="switch"><input type="checkbox" (change)="toggle3d($event)" id="togBtn"><div class="slider round"><span class="on">3D</span><span class="off">2D</span></div></label>
  </div> -->
</div>