<mat-toolbar>

</mat-toolbar>
<div class="map-container">
    <div id="map">
      <div class="leaflet-bottom leaflet-right">
          <button style="
          width: 52px;
          border-radius: 23px;
          height: 52px;
          background: #ffffffa3;
          margin-bottom: 20px;
          border: none;" value="Cancel" class=" span3 leaflet-control" (click)="getMyLocation()">
            <mat-icon style="color: blue;">location_searching</mat-icon>
          </button>
      </div>
    </div>
</div>

