<!-- <div class="form-wraper">
  <div class="form-container card" (click)="redirect('map')" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        contacts
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Household Registration
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      register household information
    </div>
  </div>
</div> -->
<div class="form-wraper">
  <div class="form-container card" (click)="scan()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        crop_free
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Scan QR Code
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Scan qrcode to validate card, register household or update household details
    </div>
  </div>
</div>
<!-- <div class="form-wraper">
  <div class="form-container card" (click)="update()" style="background-color: #f2f8f9;">
    <div class="form-header" style="text-align: center;">
      <span class="material-icons" style="padding: 6px;border: 1px solid #0000004a;border-radius: 22px; font-size: 70px;">
        update
      </span>
    </div>
    <div class="form-body" style="letter-spacing: 2px;margin-top: 12px;text-align: center;">
      Update details
    </div>
    <div class="form-body" style="letter-spacing: 1px;margin-top: 1px;font-size: 13px;color: #696969;text-align: center;">
      Update holdhold details
    </div>
  </div>
</div> -->
